.header{
    display: flex;
    padding: 6px 10px;
    background-color: #000;
}
.header .logo{
    position: absolute;
    top: 0;
    left: 0;
    padding: 6px 0;
}
.header nav{
    text-align: center;
    width: 100%;
    font-size: 0;
}
.header nav a{
    display: inline-block;
    line-height: 42px;
    font-size: 16px;
    color: #fff;
    padding: 0 10px;
}
.header nav a:hover{
    background-color: #fa0;
}
.banner img{
    width: 100%;
}
.path{
    display: flex;
}
.path li{
    position: relative;
    padding: 6px 8px;
}
.path li a{
    color: #aaa;
    text-decoration: none;
    font-size: 14px;
}
.path li+li::before{
    content: '/';
    color: #aaa;
    position: absolute;
}
.item h3{
    font-size: 36px;
    padding: 0 0 30px;
}
.wrap{
    width: 960px;
    margin: auto;
}
.about{
    padding: 40px 0 60px;
}
.about .wrap{
    display: flex;
}
.about .item{
    width: 300px;
    margin: 0 10px;
    text-align: center;
}
.about .item h3{
    color: #000;
    transition: .5s;
}
.about .item p{
    color: #000;
    transition: .5s;
}
.about .item h3:hover{
    color: #fa0;
}
.about .item p:hover{
    color: #fa0;
}
.about .item img{
    border-radius: 50%;
}
.about > h2{
    width: 100%;
    font-size: 42px;
    text-align: center;
    padding: 20px 0;
}
.about > p{
    width: 660px;
    margin: auto;
    padding: 20px 0px 40px;
    text-align: center;
}
.products{
    background-color: #ccc;
}
.products .wrap{
    display: flex;
}
.products .item{

}
.products .item img{
    width: 100%;
    vertical-align: bottom;
}
.products .pic{}
.products .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    text-align: center;
}
.footer{
    text-align: center;
    background-color: #000;
    color: #888;
    padding: 20px 0;
}
.service{
    padding: 40px 0;
    background-color: #ffa;
}
.service > h2{
    width: 960px;
    margin: auto;
    text-align: center;
    font-size: 42px;
    padding: 20px 0;
}
.service > p{
    width: 960px;
    margin: auto;
    text-align: center;
    padding-bottom: 40px;
}
.service .wrap{
    display: flex;
}
.service .item{
    margin: 0 10px;
    width: 300px;
    text-align: center;
}
.service .item h3{}
.service .item p{}
.service .item img{
    width: 100%;
}